/* =====================
   Reset CSS di base
   ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =====================
   Contenitore Principale della Home
   ===================== */
.home-container {
    display: flex;
}


/* =====================
   Colonna Sinistra (Sidebar)
   ===================== */
.left-content {
    width: 35%;
}


/* =====================
   Colonna Destra (Contenuti principali)
   ===================== */
.right-content {
    width: 65%;
}


/* =====================
   Responsive Design
   ===================== */

/* Tablet */

@media (max-width: 1024px) {
    .left-content {
        width: 40%;
    }

    .right-content {
        width: 60%;
    }
}

@media (max-width: 800px) {

    /* =====================
       Contenitore Principale della Home
       ===================== */
    .home-container {
        display: block;
    }


    /* =====================
       Colonna Sinistra (Sidebar)
       ===================== */
    .left-content {
        width: 100%;
    }


    /* =====================
       Colonna Destra (Contenuti principali)
       ===================== */
    .right-content {
        width: 100%;
    }
}